@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.app {
  font-family: "Poppins", sans-serif;

  --primary-color: #007FFF;
  --gray-color: #888;
  --lightgray-color: #9f9f9f;
  --whitesmoke-color: #F6F3F3;
  --darkgray-color: #262D4C;
  --red-color: #F0544F;
  --blue-color: #52C9FF;

  --body-color: #FBFBFE;
  --container-color: #E7EBF0;
  --border-color: #e0e3e7;
  --title-color: #262D4C;
  --text-color: #3e5060;

  &.dark-theme {
    --body-color: #0A1929;
    --container-color: #1A2027;
    --border-color: #132f4c;
    --title-color: #F3F6F9;
    --text-color: #b2bac2;
  }

  --z-index-modal: 10;

  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--body-color);

  .container {
    width: 100%;
    flex: 1;
    max-width: 1440px;
    margin: auto;
  }

  @keyframes popup {
    from {
      opacity: 0;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    to {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

    
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--container-color)
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
  }

}