* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  line-height: 1;
}

a, button {
  cursor: pointer;
}

button {
  border: none;
}

button > .btn-icon {
  pointer-events: none;
}

textarea {
  resize: none;
}